[submodule "tenderly/BuyMeACoffee/lib/forge-std"]
	path = tenderly/BuyMeACoffee/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-Forge-fork/lib/forge-std"]
	path = Foundry-Forge-fork/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
